html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* 给左侧权限菜单设置样式 */
.el-submenu__title,
.el-menu-item {
  font-size: 13px;
}
i.iconfont {
  margin-right: 10px;
}

/* 卡片统一样式处理 */
.box-card {
  margin-top: 15px;
  box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.15) !important;
}

/* table表格统一样式处理 */
.el-table {
  margin-top: 15px;
  font-size: 12px;
}

/* 分页按钮统一样式设置 */
.el-pagination {
  margin-top: 15px;
  font-size: 12px;
}
